<a href="https://colab.research.google.com/github/asterinwl/Tensorflow/blob/master/image_Conv2d(filter).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
(독립,종속),_=tf.keras.datasets.mnist.load_data()
print(독립.shape,종속.shape)

독립=독립.reshape(60000,28,28,1)
종속=pd.get_dummies(종속)
print(독립.shape,종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [4]:
X=tf.keras.layers.Input(shape=[28,28,1])
H=tf.keras.layers.Conv2D(3,kernel_size=5,activation='swish')(X)     #추가된 코드
H=tf.keras.layers.Conv2D(6,kernel_size=5,activation='swish')(H)     #추가된 코드
H=tf.keras.layers.Flatten()(H)
H=tf.keras.layers.Dense(84,activation='softmax')(H)
Y=tf.keras.layers.Dense(10,activation='softmax')(H)
model=tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [5]:
model.fit(독립,종속,epochs=10)

Exception ignored in: <function IteratorResourceDeleter.__del__ at 0x7fd4af2224d0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/data/ops/iterator_ops.py", line 546, in __del__
    handle=self._handle, deleter=self._deleter)
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/ops/gen_dataset_ops.py", line 1264, in delete_iterator
    _ctx, "DeleteIterator", name, handle, deleter)
KeyboardInterrupt:

In [6]:
pred=model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

      0     1     2     3     4     5     6     7     8     9
0  0.22  0.00  0.17  0.19  0.00  0.17  0.21  0.00  0.04  0.00
1  0.22  0.00  0.17  0.19  0.00  0.17  0.21  0.00  0.04  0.00
2  0.00  0.21  0.04  0.03  0.17  0.02  0.01  0.19  0.15  0.18
3  0.00  0.21  0.04  0.03  0.17  0.02  0.01  0.19  0.15  0.18
4  0.00  0.21  0.04  0.03  0.17  0.02  0.01  0.19  0.15  0.18

In [7]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [8]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________