<a href="https://colab.research.google.com/github/asterinwl/Tensorflow/blob/master/image_reshape%26flatten.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf
import pandas as pd

# with reshape

In [4]:
(독립,종속),_=tf.keras.datasets.mnist.load_data()
print(독립.shape,종속.shape)

독립=독립.reshape(60000,784)
종속=pd.get_dummies(종속)
print(독립.shape,종속.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [6]:
X=tf.keras.layers.Input(shape=[784])
H=tf.keras.layers.Dense(84,activation='swish')(X)
Y=tf.keras.layers.Dense(10,activation='softmax')(H)
model=tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [7]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.4000 - accuracy: 0.8459
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5550 - accuracy: 0.9164
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4550 - accuracy: 0.9313
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4220 - accuracy: 0.9366
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4002 - accuracy: 0.9423
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3830 - accuracy: 0.9439
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3766 - accuracy: 0.9457
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3606 - accuracy: 0.9476
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3646 - accuracy: 0.9499
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3380 - accuracy: 0.9507

In [8]:
pred=model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

# with flatten

In [9]:
(독립,종속),_=tf.keras.datasets.mnist.load_data()
print(독립.shape,종속.shape)

# 독립=독립.reshape(60000,784)
종속=pd.get_dummies(종속)
print(독립.shape,종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [10]:
X=tf.keras.layers.Input(shape=[28,28])
H=tf.keras.layers.Flatten()(X)
H=tf.keras.layers.Dense(84,activation='swish')(H)
Y=tf.keras.layers.Dense(10,activation='softmax')(H)
model=tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [11]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.3999 - accuracy: 0.8556
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.5363 - accuracy: 0.9165
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4507 - accuracy: 0.9317
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4033 - accuracy: 0.9390
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3760 - accuracy: 0.9429
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3618 - accuracy: 0.9469
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3652 - accuracy: 0.9490
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3450 - accuracy: 0.9524
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.3464 - accuracy: 0.9530
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3278 - accuracy: 0.9536

In [12]:
pred=model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0