<a href="https://colab.research.google.com/github/asterinwl/Tensorflow/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

파일들로부터 데이터 읽어오기

In [8]:
레몬에이드=pd.read_csv("lemonade.csv")

In [3]:
보스톤=pd.read_csv("boston.csv")

In [4]:
아이리스=pd.read_csv("iris.csv")

데이터 모양으로 확인하기

In [9]:
print(레몬에이드.shape)

(6, 2)

In [10]:
print(보스톤.shape)

(506, 14)

In [11]:
print(아이리스.shape)

(150, 5)

칼럼이름 출력

In [12]:
print(레몬에이드.columns)
print(보스톤.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [13]:
독립=레몬에이드[['온도']]
종속=레몬에이드[['판매량']]
print(독립.shape,종속.shape)

독립=보스톤[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속=보스톤[['medv']]
print(독립.shape,종속.shape)

독립=아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속=아이리스[['품종']]
print(독립.shape,종속.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [14]:
레몬에이드.head(5)

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [15]:
보스톤.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [16]:
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa